body {
      background-color: #fff;
      font-style: normal;
      /*font-family: "Myriad Set Pro","Lucida Grande","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";*/

      font-family: sans-serif ;
      font-size: 14px;
      margin: 0; padding: 0;
      text-align: center;
}

#topbar           {
      background: rgba(0,0,0,0.6);
      border-bottom: 1px solid #666;
      display: block;
      font-size: 16px;
      padding: 10px 0;
      text-align: center;
      text-decoration: none;
      color: #fff;
}

h1 {
      
}

h2 {
      
}

a     {     font-family: arial;
            color: #999; 
            text-decoration: none;  /* Normale Textdekoration*/
            text-transform: uppercase;  /* */
      }
a:hover  {  color: #000
      }

#bgImage {  background-image: url(hintergrund.jpg);
            background-position: center center; /*vertkal und horizontal zentriert */
            background-size: cover; /*Hintergrundbild wird so skaliert, dass immer gesamter Bereich gefüllt ist */
            overflow: hidden; /* Inhalt wird abgeschnitten, wenn Grenzen überschritten werden*/
            position: fixed; /* absolute Positionierung, gemessen am Browserfenster. Bleibt beim Scrollen stehen.  */
            width: 100%;
            height: 100%;
            z-index: 1; /* Reihenfolge von überlappenden Elementen bestimmen */
            top: 0px;
            left: 0px;
            background-attachment: scroll;

        }

#Kasten {   position:absolute;
            top:150px;
            left:0px; 
            height: 400px;
            z-index: 1;
            background: rgba(0,0,0,0.6);
            text-align:center;
            opacity: 1; /* Deckgrad */
            visibility:visible; 
            letter-spacing: -0.015em;
            line-height: 1.2625;
            font-weight: 200;
            font-size:72px;
            text-rendering: optimizelegibility;
            color: #fff;
      }

#Kasten1 {  position:absolute;
            top:150px;
            left:0px; 
            height: 200px;
            z-index: 1;
            background: #58ACFA;
            text-align:center;
            opacity: 1; /* Deckgrad */
            visibility:visible; 

            letter-spacing: -0.015em;
            line-height: 37px;
            /*line-height: 2.0625;*/
            font-weight: 100;
            font-size:30px;
            text-rendering: optimizelegibility;
            color: #fff;
      }

#Kasten1:hover {
      font-size: 60px;
}
#TH {
      font-size: 2px;
      visibility: hidden;
}

#Kasten2 {  position:absolute;
            top:350px;
            left:0px; 
            height: 200px;
            z-index: 1;
            background: #FF9999;
            text-align:center;
            opacity: 0.8; /* Deckgrad */
            visibility:visible; 

            letter-spacing: -0.015em;
            line-height: 100px;
            /*line-height: 2.0625;*/
            font-weight: 100;
            font-size:50px;
            text-rendering: optimizelegibility;
            color: #000000;
      }

#Kasten2:hover {  position:absolute;
            top:350px;
            left:0px; 
            height: 200px;
            z-index: 1;
            background: #3377FF;
            text-align:center;
            opacity: 0.8; /* Deckgrad */
            visibility:visible; 

            letter-spacing: -0.015em;
            line-height: 100px;
            /*line-height: 2.0625;*/
            font-weight: 100;
            font-size:80px;
            text-rendering: optimizelegibility;
            color: #FFFFFF;
      }     

#Kasten3 {  position:absolute;
            top:150px;
            left:0px; 
            height: 200px;
            z-index: 1;
            background: rgba(0,0,0,0.6);
            text-align:center;
            opacity: 1; /* Deckgrad */
            visibility:visible; 
            background-image: url(mjo.jpg);
            letter-spacing: -0.015em;
            line-height: 37px;
            /*line-height: 2.0625;*/
            font-weight: 100;
            font-size:40px;
            text-rendering: optimizelegibility;
            color: #fff;
      }

#Kasten3:hover {  position:absolute;
            top:150px;
            left:0px; 
            height: 200px;
            z-index: 1;
            background-color: lightgrey;
            text-align:center;
            opacity: 1; /* Deckgrad */
            visibility:visible;
            background-image: none;
            letter-spacing: -0.015em;
            line-height: 37px;
            /*line-height: 2.0625;*/
            font-weight: 100;
            font-size:40px;
            text-rendering: optimizelegibility;
            color: blue;
      }

#Kasten4 {  position:absolute;
            top:350px;
            left:0px; 
            height: 200px;
            z-index: 1;
            background: #58ACFA;
            text-align:center;
            opacity: 1; /* Deckgrad */
            visibility:visible; 
            background-image: url(images/bozzz.jpg) ;

            letter-spacing: -0.015em;
            line-height: 37px;
            /*line-height: 2.0625;*/
            font-weight: 100;
            font-size:40px;
            text-rendering: optimizelegibility;
            color: #fff;
      }

#Kasten5 {  position:absolute;
            top:550px;
            left:0px; 
            height: 200px;
            z-index: 1;
            background: yellow;
            text-align:center;
            opacity: 0.8; /* Deckgrad */
            visibility:visible; 

            letter-spacing: -0.015em;
            line-height: 37px;
            /*line-height: 2.0625;*/
            font-weight: 100;
            font-size:40px;
            text-rendering: optimizelegibility;
            color: navy;
      }

#Kasten4:hover {  position:absolute;
            top:350px;
            left:0px; 
            height: 200px;
            z-index: 1;
            background: #58ACFA;
            text-align:center;
            opacity: 1; /* Deckgrad */
            visibility:visible; 
            background-image: url(images/sexy.jpg);

            letter-spacing: -0.015em;
            line-height: 37px;
            /*line-height: 2.0625;*/
            font-weight: 100;
            font-size:40px;
            text-rendering: optimizelegibility;
            color: #fff;
      }


#Kasten5:hover {  position:absolute;
            top:550px;
            left:0px; 
            height: 200px;
            z-index: 1;
            background: red;
            text-align:center;
            opacity: 0.8; /* Deckgrad */
            visibility:visible; 

            letter-spacing: -0.015em;
            line-height: 20px;
            /*line-height: 2.0625;*/
            font-weight: 100;
            font-size:70px;
            text-rendering: optimizelegibility;
            color: navy;
            background-image: url(images/stonehenge.jpg);
            background-position: center center;
      }      

#Kasten6 {  position:absolute;
            top:0px;
            left:0px; 
            height: 200px;
            z-index: 1;
            background: rgba(0,0,0,0.6);
            text-align:center;
            opacity: 1;  /* Deckgrad */ 
            visibility:visible; 

            letter-spacing: -0.015em;
            line-height: 37px;
            /*line-height: 2.0625;*/
            font-weight: 100;
            font-size:40px;
            text-rendering: optimizelegibility;
            color: #fff;
      }

#kreis {    stroke-width: 1px;
            stroke :#FFFFFF;
            fill: black; }

#N    {     fill: #FFFFFF;
            opacity: 1.0;
            font-size: 70pt; 
            font-family:Arial;
            font-weight:lighter; }

#rect {     fill:white; 

}

#Kasten7 {  position:absolute;
            top:350px;
            left:0px; 
            height: 200px;
            z-index: 1;
            background: rgba(0,0,0,0.6);
            text-align:center;
            opacity: 1;  /* Deckgrad */ 
            visibility:visible; 

            letter-spacing: -0.015em;
            line-height: 37px;
            /*line-height: 2.0625;*/
            font-weight: 100;
            font-size:40px;
            text-rendering: optimizelegibility;
            color: #fff;
            background-image: url(pfeil.jpg);
            background-position: center center;
      }
#Kasten7:hover {  position:absolute;
            top:350px;
            left:0px; 
            height: 200px;
            z-index: 1;
            /*background: rgba(0,0,0,0.6);*/
            text-align:center;
            opacity: 1;  /* Deckgrad */ 
            visibility:visible; 

            letter-spacing: -0.015em;
            line-height: 37px;
            /*line-height: 2.0625;*/
            font-weight: 100;
            font-size:40px;
            text-rendering: optimizelegibility;
            color: #fff;
            background-image: url(nikolai.jpg);
      }
#Kasten8 {  position:absolute;
            top:0px;
            left:0px; 
            height: 200px;
            z-index: 1;
            background: #58ACFA;
            text-align:center;
            opacity: 1;  /* Deckgrad */ 
            visibility:visible; 
            background-image: url(images/eier.jpg);
            background-position: center center; 
            letter-spacing: -0.015em;
            line-height: 37px;
            /*line-height: 2.0625;*/
            font-weight: 100;
            font-size:40px;
            text-rendering: optimizelegibility;
            color: #fff;
      }
#Kasten8:hover {  position:absolute;
            top:0px;
            left:0px; 
            height: 200px;
            z-index: 1;
            background: #58ACFA;
            text-align:center;
            opacity: 1;  /* Deckgrad */ 
            visibility:visible; 
            background-image: url(poesze.jpg);
            background-position: center center; 

            letter-spacing: -0.015em;
            line-height: 37px;
            /*line-height: 2.0625;*/
            font-weight: 100;
            font-size:40px;
            text-rendering: optimizelegibility;
            color: #fff;
      }


/* #################### !!! All Rights by Shakuta !!! #################### */
#Kasten9 {  /*background-image: url(images/lion.jpg);*/
            background-position: center center;
            background: radial-gradient(purple, blue, green, yellow, red, purple);
            /*background: #fff;*/

            position: absolute;
            top: 350px;
            left: 0px; 
            height: 200px;
            z-index: 1;
            text-align: center;
            opacity: 1;  /* Deckgrad */ 
            visibility: visible;

            letter-spacing: -0.015em;
            line-height: 37px;
            /*line-height: 2.0625;*/
            font-family: Verdana;
            font-weight: 250;
            font-size: 40px;
            text-rendering: optimizelegibility;
            color: #777;
      }

#Kasten9:hover {  /*background-image: url(images/deadAnimal.jpg);*/
                  background-position: center center;
                  background: radial-gradient(purple, red, yellow, green, blue, purple);
                  /*background: #fff;*/

                  position: absolute;
                  top: 350px;
                  left: 0px; 
                  height: 200px;
                  z-index: 1;
                  text-align: center;
                  opacity: 1;  /* Deckgrad */ 
                  visibility: visible; 

                  letter-spacing: -0.015em;
                  line-height: 37px;
                  /*line-height: 2.0625;*/
                  font-family: Verdana;
                  font-weight: 250;
                  font-size: 40px;
                  text-rendering: optimizelegibility;
                  color: #666;
            }
/* #################### !!! All Rights by Shakuta !!! #################### */


#Kasten10 {  position:absolute;
            top:550px;
            left:0px; 
            height: 200px;
            z-index: 1;
            background: #58ACFA;
            text-align:center;
            opacity: 1;  /* Deckgrad */ 
            visibility:visible; 

            letter-spacing: -0.015em;
            line-height: 37px;
            /*line-height: 2.0625;*/
            font-weight: 100;
            font-size:40px;
            text-rendering: optimizelegibility;
            color: #fff;
      }

#Kasten11 {  position:absolute;
            top:550px;
            left:0px; 
            height: 200px;
            z-index: 1;
            background: rgba(0,0,0,0.6);
            text-align:center;
            opacity: 1;  /* Deckgrad */ 
            visibility:visible; 

            letter-spacing: -0.015em;
            line-height: 37px;
            /*line-height: 2.0625;*/
            font-weight: 100;
            font-size:40px;
            text-rendering: optimizelegibility;
            color: #fff;
      }

#Kasten12 {  position:absolute;
            top:550px;
            left:0px; 
            height: 200px;
            z-index: 1;
            background: rgba(0,0,0,0.6);
            text-align:center;
            opacity: 1;  /* Deckgrad */ 
            visibility:visible;       
            background-image: url(images/frische.jpg);
             background-position: center center;
            
            letter-spacing: -0.015em;

            line-height: 37px;
            /*line-height: 2.0625;*/
            font-weight: 100;
            font-size:40px;
            text-rendering: optimizelegibility;
            color: #fff;
      }
      #Kasten12:hover {  position:absolute;
            top:550px;
            left:0px; 
            height: 200px;
            z-index: 1;
            background: rgba(0,0,0,0.6);
            text-align:center;
            opacity: 1;  /* Deckgrad */ 
            visibility:visible;       
            background-image: url(images/1658_0.jpg);
             background-position: center center;
            
            letter-spacing: -0.015em;

            line-height: 37px;
            /*line-height: 2.0625;*/
            font-weight: 100;
            font-size:40px;
            text-rendering: optimizelegibility;
            color: #fff;
      }